

<p>

        <ul>

        <% for(var i=0; i < cuts.length; i++) { if(cuts[i].used==false){   %>

            <li><%= cuts[i].l %> used: <%= cuts[i].used %> pack: <%= cuts[i].packingId %> i: <%= i %> parents: <%= cuts[i].getTxtParents() %>    </li>

        <% }}; %>

        </ul>

</p>